<mat-toolbar color="primary">
    <span>Employees with Async Pipes</span>
</mat-toolbar>
<mat-card *ngIf="hideEditForm">
    <mat-card-header *ngIf="employees$ | async; else loading">
        <mat-card-title>
            <div class="my-primary-text main-div">{{ msg }}</div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <app-employee-list [employees]="employees$ | async" (selected)="select($event)">
            </app-employee-list>
        </mat-list>
        <div class="padtop15">
            <mat-icon (click)="newEmployee()" matTooltip="Add New Employee" class="addicon" color="primary" >
            control_point
            </mat-icon>
        </div>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="!hideEditForm">
    <mat-card-header>
        <mat-card-title>
            <span class="my-primary-text">{{ msg }}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-employee-detail [selectedEmployee]="employee" (cancelled)="cancel('cancelled')" (saved)="save($event)" (deleted)="delete($event)">
        </app-employee-detail>
    </mat-card-content>
    <ng-template #loading class="my-primary-text">Loading Employees from server...</ng-template>
</mat-card>