<mat-toolbar color="primary">
  <span>INFO5059</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['home']">home</a>
  <a mat-menu-item [routerLink]="['employees']">employees</a>
  <a mat-menu-item [routerLink]="['expenses']">expenses</a>
  <a mat-menu-item [routerLink]="['generator']">generator</a>
</mat-menu>
<!-- match url compontment will render inside router-outlet -->
<router-outlet></router-outlet>